.button__bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
  background: transparent !important;
  border-radius: 40px;
  text-align: right;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #ffffff;
  opacity: 0.25;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.button__bar li.slick-active button {
  background-color: #ffffff;
  opacity: 1;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #ffffff;
  outline: 0;
}

.button__bar__brown {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
  background: transparent !important;
  border-radius: 40px;
  text-align: right;
}

.button__bar__brown li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar__brown li button {
  border: none;
  background: #631217;
  opacity: 0.25;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.button__bar__brown li.slick-active button {
  background-color: #631217;
  opacity: 1;
}

.button__bar__brown li button:hover,
.button__bar__brown li button:focus {
  background: #631217;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
